* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
}

nav {
    background-color: white;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

nav a:hover {
    color: grey;
}

ul {
    list-style: none;
    padding: 10px 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links li {
    margin-left: 50px;
}