* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family:'Montserrat', sans-serif;
}

body {
    /* height: 6660px; */
}

a {
    color: black;
}
nav {
    background-color: white;
}

nav a {
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: grey;
}
ul {
    list-style: none;
    padding: 10px 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links li {
    margin-left: 50px;
}

#hero {
    background-color: black;
}

#hero-text {
    text-align: center;
    text-transform: capitalize;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 20%;
    height: 100;
}

#hero-text h1 {
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 1%;
}

.text-dash {
    padding-bottom: 5%;
}

#hero-text p {
    font-size: 5rem;
    padding: 0 10%;
    text-transform: capitalize;
}
#hero-text span {
    color: red;
}

.ftProj-cont {
    /* background-color: rosybrown; */
    display: flex;
    align-items: center;
}

.ftProj-cont figure {
    display: flex;
    justify-content: space-between;
    align-items: initial;
    padding: 10% 10%;
}

.figImg-cont {
    flex: 1;
    overflow: hidden;
}

.figImg-cont img {
    max-width: 100%;
    float: right;
    height: auto;
    display: block;
}

.ftProj-cont figcaption{
    flex: 1;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.ftProj-cont figcaption h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2%;

}

.ftProj-cont figcaption h3 {
    font-size: 4rem;
    font-weight: 600;
   
}

.ftProj-cont figcaption h4 {
    font-size: 1rem;
    color: #7B7B7B;
    font-weight: 300;
}

.ftProj-cont figcaption p {
    padding: 10% 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.caption-text {
    max-width: 70%;
    text-transform: capitalize;
}

.ftProj-cont button {
    padding: 1% 3%;
    font-size: 1.25rem;
    background-color: #4D4D4D;
    border: 1px solid #707070;
    color: white;
}

.missionStatement-cont {
    /* background-color: burlywood; */
    height: 100vh;
    display: flex;
    align-items: center;
    
}

.missionStatement {
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    height: 70%;
    margin: 0 10%;
}

.text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.text-img-cont {
  
    overflow: hidden;
    width: 100%;
}

.text-img-cont img {
    max-width: 80%;
    height: auto;
    display: block;
}

.text-section-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 20%;
}

.combatReady-cont {
    flex: 0.75;
    justify-self: right;
    background-color: white;
    padding-bottom: 10%;
    margin-right: 10%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.425);
}

.combatReady-cont h1 {
    padding: 5%;
    line-height: 6rem;
    font-size: 5rem;
    font-weight: 500;
}

.actions-cont {
    /* background-color: rosybrown; */
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 20%;
}

.actions-cont h1 {
    padding: 5% 10%;
}
.actions {
    display: flex;
    align-items: center;
}

.actions-cont h1 {
    justify-self: self-start;
    font-size: 3rem;
    font-weight: 400;
}

.actions-cont figure {
    display: flex;
    justify-content: space-between;
    align-items: initial;
    padding: 0 10%;
}

.figImg-cont {
    flex: 1;
    overflow: hidden;
}

.figImg-cont img {
    max-width: 100%;
    float: right;
    height: auto;
    display: block;
}

.actions-cont figcaption{
    flex: 1;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.actions-cont figcaption h2 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2%;

}

.actions-cont figcaption h3 {
    font-size: 4rem;
    font-weight: 600;
   
}

.actions-contfigcaption h4 {
    font-size: 1rem;
    color: #7B7B7B;
    font-weight: 300;
}

.actions-cont figcaption p {
    padding: 10% 0;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.statsBar-cont {
    background-color: #6E6E6E;
}

.statsBanner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3% 0;
    color: white;
}

.timeSaved, .dollarsSaved {
    display: flex;
    font-size: 3rem;
}

.timeSaved h6, .dollarsSaved h6 {
    line-height: 2rem;
    padding-left: 5%;
}

.latest-cont {
    /* background-color: chocolate; */
    padding: 10%;
    padding-bottom: 0;
    display: flex;
}

.latest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.latest-text {
    padding-bottom: 5%;
}

.latest-text h2 {
    font-weight: 500;
    font-size: 3rem;
}

.carousel-cont {
    background-color: #707070;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}   

.carousel-text {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100%;
    padding: 10%;
}

.carousel-text h5 {
    padding-bottom: 5%;
    font-size: 1.5rem;
    font-weight: 400;
}

.carousel-text p {
    padding-bottom: 10%;
    font-weight: 300;
    line-height: 1.5rem;
}

.card-link {
    display: block;
    padding-right: 10%;
}
.carousel-text a {
    color: white;
    float: right;
}

.person-img-cont {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    bottom: 35%;
    left: 10%;
    z-index: 5;
}

.person-img {
    overflow: hidden;
    width: 50%;

}

.person-img img {
    float: right;
    max-width: 100%;
    height: 100%;
    display: block;
}

.cta-cont {
    background-color: #475143;
}

.text-cont {
    display: flex;
    flex-direction: column;
    padding: 10%;
    color: white;
}

.cta {
    padding-bottom: 2%;
    font-size: 3rem;
}

.cta h1 {
    font-weight: 500;
}

.subtext a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

footer {
    background-color: #EFEFEF;
    padding: 5% 10%;
    
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-link-item {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.footer-links h2 {
    padding-bottom: 10%;
}
/* MEDIA QUERIES */

@media only screen and (max-width: 1200px) {
    .combatReady-cont h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .timeSaved, .dollarsSaved {
        display: flex;
        font-size: 2rem;
    
    }

    .timeSaved h6, .dollarsSaved h6 {
        line-height: 1.5rem;
       
    }
    
  
}